.header {
    flex-direction: row;
    min-height: 18.1vh;
    min-width: 100vw;
    background-color: #292c2f;
    color:white;
  }
.logo{
  border:solid;
  border-radius:15px;
  padding: 5px;
  max-width: 430px;
  font-size:60px;
}
.subheading{
  padding-left:10px;
  padding-top:2px;
  padding-bottom: 2px;
}